@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	--primary: #150348;
	height: 100vh;
	background-image: linear-gradient(
		35deg,
		hsl(251deg 87% 76%) 0%,
		hsl(250deg 49% 59%) 25%,
		hsl(256deg 86% 30%) 100%
	);
}
.image-container {
	border-radius: 4px;
	background-color: var(--primary);
}

svg {
	fill: white;
}
svg:hover {
	transform: scale(1.125);
}
